// ベーススタイル
// @use 'variable' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* Sticky Footer Setup */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family:
    'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Biz UDPGothic',
    sans-serif;
  line-height: 1.6;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}
