/* 余白調整 (Margin) */
// @use defined separately in style.scss

$spaces: 0, 5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100;

@each $space in $spaces {
  // Margin Top
  .u-mt-#{$space} {
    margin-top: #{$space}px;
  }

  // Margin Bottom
  .u-mb-#{$space} {
    margin-bottom: #{$space}px;
  }

  // Margin Left
  .u-ml-#{$space} {
    margin-left: #{$space}px;
  }

  // Margin Right
  .u-mr-#{$space} {
    margin-right: #{$space}px;
  }
}
